

  <app-navbar></app-navbar>

<!-- 
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>

      <tr>
        <th scope="row">6</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Steve</td>
        <td>James</td>
        <td>@STJ</td>
      </tr>

      <tr>
        <th scope="row">8</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>

      <tr>
        <th scope="row">9</th>
        <td>Tim</td>
        <td>Burton</td>
        <td>@Tbu</td>
      </tr>
      
    </tbody>
  </table> -->
<!-- 
<ul>
  <li *ngFor="let item of employee" >{{item.id}} {{item.name}} {{item.lastName}}
    {{ courses.id}} {{ courses.name}} 
    {{ courses.phone[0] }} {{ courses.phone[1] }}
    <p *ngFor="let item of employee" >{{item.id}} {{item.name}} </p>

  </li>
</ul> -->

<div class="container">

  <h2 class="text-center" >Lista de Usuarios</h2>

  <table>
    <thead>
      <tr>
        <th style="width: 15px;" >#</th>
        <th >Name</th>
        <th >Email</th>
        <th >User</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of employee; let i = index">  

        <!-- i Controla el numero de iteraciones a Mostrar -->
        <ng-container *ngIf="i < 10">
            <th >{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.username}}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>  
</div>



  <app-footer></app-footer>










