
  <app-navbar></app-navbar>

<style>
  td {
  white-space: normal !important; 
  word-wrap: break-word;  
}
/* table {
  table-layout: fixed;
} */
</style>

<div class="container">

  <table class=" table table-striped ">
    <thead>
      <tr>
        <th class="col-sm-1">#</th>
        <th class="col-sm-2">Restaurant</th>
        <th class="col-sm-2">Direccion  </th>
        <th class="col-sm-2">Página Web</th>
        <th class="col-sm-3">Imagen</th>

      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let post of posts; let i = index">  

        <!-- i Controla el numero de iteraciones a Mostrar -->
        <ng-container *ngIf="i < 10">
            <th class="col-sm-1" > <h5>{{post.id+1}} </h5> </th>
            <td class="col-sm-2" > {{post.restaurant}}</td>
            <td class="col-sm-2" >{{post.address}}</td>
            <td class="col-sm-2" >{{post.web}}</td>
            <td class="col-sm-3" > <img [src]="post.pic" style="height:100px;width:200px;"  alt=""> </td>
            <!-- style="height:100px;width:150px;" -->
        </ng-container>
      </tr>
    </tbody>


    
  </table>

  

 </div> 

<app-footer></app-footer>

