



  
        
  <app-navbar></app-navbar>
  
  
  <!-- <app-posts></app-posts> -->
  
  
  <!-- <app-users></app-users> -->
  <div class="container-fluid">
      <div class="row gx-3">

          <content *ngFor="let persona of personas" class="col-md-4 col-sm-6 card"
          [id]="persona.id"
          [name]="persona.first_name + ' ' + persona.last_name"
          [email]="persona.email"
          [avatar]="persona.avatar"
          ></content>
        </div>
  </div>

    <!-- <div class="row">
      <div *ngFor="let presentation of presentations" class="col-4 card">
          <a [routerLink]="['/presentation', presentation._id]"><img class="card-img-top" src="..." alt="Card image cap"></a>
          <div class="card-block">
              ...
          </div>
      </div>
  </div> -->

  
  
  <app-footer></app-footer>
  